.navbar .nav-link {
    color: white !important;
    font-size: 17px;
    transition: 0.3s;
}

.navbar .nav-link:hover {
    color: #ffc107 !important;
    transform: translateY(-2px);
}

.navbar-brand span {
    letter-spacing: 1px;
}

.btn-warning {
    transition: 0.3s;
}

.btn-warning:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(255, 193, 7, 0.5);
}